* {
    font-family: "Nunito", sans-serif;
}

.menu {
    border: none;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 10px 1px #f3e4e4;
}
.menu__button {
    border: solid 2px #f45606;
    background-color: #ffffff;
    color: #000000;
    width: 100px;
    height: 35px;
    border-radius: 0% 20px 20px 20px;
}

.menu__logo {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.menu__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
}

body {
    margin: 0;
}

h1 {
    color: rgb(225, 92, 25);
    padding: 40px 0px 0px 0px;
    margin: 0%;
}

h2 {
    padding: 0px 0px 0px 40px;
}

.encabezado {
    display: flex;
    justify-content: space-between;
}

.encabezado__titulos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.encabezado__button {
    background-color: #e95a00;
    color: white;
    width: 100px;
    height: 35px;
    margin: 50px;
    border-radius: 0% 20px 20px 20px;
    border: none;
}
